{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "targets": {
                    "browsers": [
                        "> 1%",
                        "IE 10"
                    ]
                },
                "useBuiltIns": "entry"
            }
        ],
        "@babel/react"
    ]
}