{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "targets": {
                    "browsers": [
                        "> 1%",
                        "IE 10",
                        "safari >= 7"
                    ]
                },
                "useBuiltIns": "entry"
            }
        ],
        "@babel/react"
    ],
    "plugins": [
        "lodash",
        "recharts"
    ]
}